*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  #bodyQuiz{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:  #D2D0B9;
    background-image: url("https://cutewallpaper.org/21/marauders-map-gif/harry-potter-Harry-potter-gif-transparent-transparent-gif-.gif");
    background-size: auto;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center-right;
    
  }
  .container {
    font-family: "Xanh Mono" ;
    color:   #D2D0B9;
    font-weight: bold;
    font-size: x-large;
    display: block;
    justify-content: center;
    width: 800px;
    max-width: 80%;
    background-color:  rgb(82, 81, 81);
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: black;
    margin-left: auto;
    margin-right: auto;
  }
  .image{
    width:600px;
    height:350px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: auto;
    
  }
  #question{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: large;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    margin-left: auto;
    margin-right: auto;
    
  }
  .answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

  .answer1{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    background-color:  #D2D0B9;  
  }
  .answer2{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    background-color:  #D2D0B9;  
  }
  .answer3{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    background-color:  #D2D0B9;  
  }
  .answer4{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    background-color:  #D2D0B9;  
  }
  
  .answer:hover {
    border-color: black;
  }
  .start-btn , .next-classe{
    font-weight: bold;
    padding: 10px 20px;
  }
  .work{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
  }
  .work #next #start{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #next{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    background-color:  #D2D0B9;
    margin-left: 35%;
  }

  #start{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none; 
    margin-left: 35%;
  
    background-color:  #D2D0B9;
  }
  #error{
    font-family: "Xanh Mono" ;
    color: black;
    font-size: 55px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    margin-left: auto;
    margin-right: auto;
  }