body {
    /* background-color:
     azure; */
     /* background:url("https://cdn.wallpapersafari.com/22/9/oCnd7i.jpg") left repeat-y,url("https://cdn.wallpapersafari.com/22/9/oCnd7i.jpg") right repeat-y; */
    background-color:  azure; 
    background-size: auto ; 
    margin: 0%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.pagination a {
    color: rgb(65, 63, 63);
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
  }

/* 
.bar{
    background-color: rgb(82, 81, 81);
    color: azure;
    overflow: hidden;
    margin-top:auto ;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;

}
h5{
    padding:left;
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    position: absolute center;
    text-align: center ;
   
}
#q{
    text-align: left;
    float: right; 
    color: rgb(45, 45, 194);
    font-size: 20px;
    position: absolute center; 
    margin-top:auto ;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: left center ;
    border-radius: 10px;
} */
h2{
    font-family: "Xanh Mono" ;
    color:  azure;
    font-weight: bold;
    font-size: x-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* background-color: #6B63B5; */
    background-color: rgb(82, 81, 81);
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
    padding: 15px 10px;

    
}
h2:hover{
    opacity: 0.9;
    font-size: xx-large;

}
p {
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(61, 58, 58)


}


.img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #wiki {
    font-family: "Xanh Mono" ;
    color: black;
    font-size: 40px;
    display: block;
    position: absolute center;
    margin-left: 400px;
    margin-right: auto;
    width: 50%;
    text-decoration:none;
    text-shadow: 4px 4px 5px rgb(61, 58, 58)
  }
  h1{
    font-family: "Xanh Mono" ;
    color:  rgba(40, 40, 41, 0.658);
    font-weight: bold;
    font-size: 70px;
    /* display: block; */
    /* position: absolute center; */
    margin-left: 400px;
    margin-right: auto;
    width: 50%;
  }