body {
    
    background-color: #D2D0B9; 
    background-size: auto ; 
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.pagination a {
    color: rgb(65, 63, 63);
    text-decoration: none;
    transition: background-color .0s;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    

   
  }

h2{
    font-family: "Xanh Mono" ;
    color:  azure;
    font-weight: bold;
    font-size: x-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(82, 81, 81);
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
    padding: 15px 10px;

    
}
/* h2:hover{
    opacity: 0.85;
    font-size: xx-large;

} */
p {
    font-family: "Xanh Mono" ;
    color: black;
    font-size: medium;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(165, 112, 112);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:600px

}



.img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #wiki {
    font-family: "Xanh Mono" ;
    color: black;
    font-size: 40px;
    display: inline-block;
    position: absolute center;
    margin-left: 400px;
    margin-right: auto;
    width: 50%;
    text-decoration:none;
    text-shadow: 4px 4px 5px rgb(61, 58, 58)
  }
  h1{
    font-family: "Xanh Mono" ;
    color:  rgba(40, 40, 41, 0.658);
    font-weight: bold;
    font-size: 90px;
    /* display: block; */
    /* position: absolute center; */
    margin-left: auto;
    margin-right: auto;
    width:100%;
    text-align: center;
  }
  #logo{
    background-color: transparent;
    width: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }