*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  #bodyQuiz{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:wheat;
    background-image: url("https://cutewallpaper.org/21/marauders-map-gif/harry-potter-Harry-potter-gif-transparent-transparent-gif-.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    
  }
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  /* .answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  } */
  .answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    /* --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%); */
    border-radius: 10px;
    padding: 5px 10px;
    color: cadetblue;
    outline: none;
  }
  .answer:hover {
    border-color: black;
  }
  .start-btn , .next-classe{
    font-weight: bold;
    padding: 10px 20px;
  }